.whole-body {
    margin-top: 60px;
}

.card {
    padding-top: 60px;
    margin-top: 60px;

}

.card-content {
    .image-top {
        img {
            width: 450px;
        }
    }
}

h1 {
    font-size: 1.90rem;
    font-weight: bold;
} 
h2 {
    font-size: 1.25rem;
  
}

